﻿@model IEnumerable<GBUWebApp.Models.WorkOrder>

@{
    ViewBag.Title = "Index";
}


<h3>List of New SPK</h3>
<p>This list of SPK</p>

<table class="table table-striped">
    <thead>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material.Name)
        </th>
        <th>
            Material Wight
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            Create New Delivery
        </th>
    </thead>


    @{int rowNo = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(rowNo++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.ActionLink("Create Delivery BB", "CreateNewMaterialDelivery", "MaterialDeliveries", new { id = item.Id }, null)
            </td>
</tr>
    }

</table>
