﻿@model GBUWebApp.Models.ProductionQueue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductionQueue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimationStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimationStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimationEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimationEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.IntermediateGoodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.IntermediateGoodId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
