﻿@model IEnumerable<GBUWebApp.Models.IntermediateDelivery>

@{
    ViewBag.Title = "Index";
}

<h3>List of New Intermediate Deliveries</h3>
<p>This list of New Intermediate Deliveries</p>

<table class="table table-striped">
    <thead>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.IntermediateGood.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
    </thead>

    @{int rowNo = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(rowNo++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.IntermediateGood.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.ActionLink("Create SuratJalan", "", "", new { WorkOrderId = item.WorkOrderId }, null)
            </td>
        </tr>
    }

</table>
