﻿@model GBUWebApp.Models.MaterialDelivery
@{
    ViewBag.Title = "CreateNewMaterialDelivery";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    

    <div class="form-horizontal">
        <hr />
        <h3>For SPK no <small>@Html.DisplayFor(modelItem => Model.WorkOrderId)</small></h3>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

