﻿@model IEnumerable<GBUWebApp.Models.MaterialDelivery>

@{
    ViewBag.Title = "Index";
}

<h3>List of MaterialDeliveries</h3>
<p>This list of MaterialDeliveries</p>
<html>
<head>
    <script type="text/javascript">
        function editGroupName(id, name) {
            $('input#gid').val(id);
            $('input#gname.form-control').val(name);
        }
    </script>

</head>
<table class="table">
    <thead>
    <th>
        #
    </th>
    <th>
        SPK
    </th>
    <th>
        Product Name
    </th>
    <th>
        Material Name
    </th>
    <th>
        @Html.DisplayNameFor(model => model.WorkOrder.Color)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Amount)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CreateDate)
    </th>
    <th>Accept</th>
    <th>
        Create New Delivery
    </th>
    </thead>
    @{string IDTemp = "";}
    @{int rowNo = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(rowNo++)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.IntermediateGood.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrder.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @{
                    IDTemp = item.WorkOrder.Id;
                }
                <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">Open Modal</button>
            </td>
            <td>
                @Html.ActionLink("Create Productions Delivery", "CreateNewProductionDelivery", "ProductionDeliveries", new { WorkOrderId = item.WorkOrderId }, null)
            </td>
        </tr>
    }

</table>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Accept</h4>
            </div>
            <div class="modal-body">
                <form action="Index" method="post">
                    <div class="form-horizontal">
                        <div class="form-group">                            
                            <div class="col-md-10">
                                <input type="hidden" name="id" value="aa" />
                                <input type="text" name="fname" value=@(IDTemp) class="form-control  col-md-10 disabled" id="textarea-remarks"><br>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-6">
                                <input type="submit" value="Save" class="btn btn-success btn-sm" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

</html>